:root {
    --bg-primary: #F4F4F4;
    --text-light: #FFFFFF;
    --text-dark: #1D1D1F;
    --title-primary-color: #F5F5F7;
    --subtitle-color: #6E6E73;
    --action-color: #2997FF;
    --spirited-main-color: #DED2B9;
    --footer-color: #629B8D;
}

header {
    background-color: var(--bg-primary);
    color: var(--text-dark);
    height: fit-content;
    opacity: 0.9;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 12px 0;
}

header nav ul {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-dark);
}

.link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.link:hover {
    border-color: #FD9536;
    /* Cor da borda quando o mouse está sobre o link */
}

header nav ul li {
    min-width: fit-content;
    height: fit-content;
    padding: 0 0.75rem;
    font-size: small;
    cursor: pointer;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

main section {
    text-align: center;
    position: relative;
}

main section img {
    width: 100%;
    height: auto;
}

main section a:hover {
    text-decoration: underline;
}

main .main-section h1 {
    color: var(--title-primary-color);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;
}

main .main-section h2 {
    color: var(--subtitle-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main .main-section sub {
    font-size: 0.9rem;
}

main .main-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}

main .spirited-section {
    display: flex;
}

main .spirited-section .image {
    flex: 1;
    padding: 20px;
    text-align: right;
    position: absolute;
    top: 0;
}

main .spirited-section img {
    max-width: 50%;
}

main .spirited-section .container {
    position: relative;
    background-color: var(--text-light);
    height: 1000px;
    text-align: left;
    padding: 50px;
    z-index: 1;
    overflow: hidden;
    opacity: 75%;
    transition: background-color 0.5s, color 0.5s;
}

main .spirited-section>div:first-child p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    margin-top: 100px;
    color: var(--text-dark);
    letter-spacing: -0.6px;
}

main .spirited-section>div:first-child h2 {
    margin-top: 20px;
}

main .iphone-section img {
    margin-top: 50px;
    flex: 1;
    left: 0;
}

main .iphone-section .container-units {
    background-color: var(--text-light);
    display: flex;
    width: 100%;
}

main .iphone-section h2 {
    color: var(--text-dark);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: -0.28px;
}

main .iphone-section p {
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main .iphone-section .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

main .iphone-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 51px;
}

main .exames-section {
    flex: auto;
}

footer {
    background-color: var(--footer-color);
    color: var(--text-light);
    opacity: 0.9;
    padding: 12px 0;
}

footer .contatos {
    margin: 0 auto;
    gap: 1rem;
    padding: 0 2rem;
}

footer ul {
    padding: 0 2rem;
    align-items: center;
    margin-top: 20px;
}

footer ul li {
    list-style: none;
    display: flex;
}

footer ul li img {
    height: 25px;
    width: 3%;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.whatsapp-button a {
    text-decoration: none;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}